<peas-card [title]="'notification_list.card.title' | translate">
    <peas-table [options]="tableOptions" (refresh)="getList()" [list]="list">
        <table class="table table-sm table-striped">

            <thead class="thead-inverse">
            <tr>
                <th></th>
                <th peas-sortable-column="createdDate">{{ 'notification_list.table.header.created_date' | translate }}</th>
                <th>{{ 'notification_list.table.header.subject' | translate }}</th>
                <th>{{ 'notification_list.table.header.body' | translate }}</th>
                <th>{{ 'notification_list.table.header.status' | translate }}</th>
            </tr>

            <tr class="search-row">
                <td class="small-icon-button">
                    <sas-search-button [searchObject]="search"></sas-search-button>
                </td>
                <td class="inline-2date">
                    <!--input disabled class="form-control form-control-sm" peasSearchColumn name="createTo" type="text"/-->
                    <p-calendar peasSearchColumn
                                [(ngModel)]="search.createdDateRange.min"
                                [maxDate]="search.createdDateRange.max"
                                [locale]="calendarLocalConfig"
                                dateFormat="yy-mm-dd"
                                showButtonBar="true"
                                [yearNavigator]="true" [yearRange]="DateUtils.yearRange()"
                                [monthNavigator]="true"></p-calendar>-<p-calendar peasSearchColumn
                                                                                  [(ngModel)]="search.createdDateRange.max"
                                                                                  [minDate]="search.createdDateRange.min"
                                                                                  [locale]="calendarLocalConfig"
                                                                                  dateFormat="yy-mm-dd"
                                                                                  showButtonBar="true"
                                                                                  [yearNavigator]="true" [yearRange]="DateUtils.yearRange()"
                                                                                  [monthNavigator]="true"></p-calendar>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </thead>

            <tbody id="{{ tableOptions.name }}">
            <tr *ngFor="let o of list  | paginate: tableOptions.paginationConfig">
                <td>
                    <div class="btn-group" dropdown *ngIf="o.status === toDoStatus.OPEN">
                        <button class="btn btn-lg dropdown-toggle" dropdownToggle><i class="fas fa-ellipsis-v"></i></button>
                        <ul class="dropdown-menu" *dropdownMenu>
                            <li>
                                <button class="dropdown-item" (click)="goToReferenceAction(o)">
                                    <i class="far fa-hand-point-right"></i> {{ 'notification_list.table.row.button.execute' | translate }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
                <td (click)="goToReferenceAction(o)" [innerHTML]="DateUtils.formatHours((o?.createdDate | date:DateUtils.DATE_TIME_FORMAT))"></td>
                <td (click)="goToReferenceAction(o)">{{ o?.subject }}</td>
                <td (click)="goToReferenceAction(o)" [innerHTML]="o?.body"></td>
                <td (click)="goToReferenceAction(o)">{{ o && o.status ? ('constants.to_do_status.' + o.status.toLowerCase() | translate) : '' }}</td>
            </tr>
            </tbody>

        </table>
    </peas-table>

</peas-card>
