<div class="table-pagination" *ngIf="options != null && options.isPagination">
  <span class="text-muted">{{ 'table_control.table.all_number.text' | translate }} {{options.paginationConfig.totalItems}}</span>

  <sas-page-size [config]="pageSizerConfig" (changePageSize)="changePageSize($event)"></sas-page-size>

  <pagination-template [id]="options.name" #paginationApi="paginationApi" (pageChange)="pageChange($event)">

    <!-- first page button -->
    <div class="pagination-first" [class.disabled]="paginationApi.isFirstPage()">
      <button class="btn btn-link" [disabled]="paginationApi.isFirstPage()" (click)="paginationApi.setCurrent( 1 )" tooltip="Első oldal">
        <i class="fas fa-step-backward"></i>
      </button>
    </div>

    <!-- previous page button -->
    <div class="pagination-previous" [class.disabled]="paginationApi.isFirstPage()">
      <button class="btn btn-link" [disabled]="paginationApi.isFirstPage()"  (click)="paginationApi.previous()" tooltip="Előző oldal">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>

    <!-- select page  -->
    <div class="pagination-select" [class.disabled]="paginationApi.isFirstPage()">
      <select [value]="options.paginationConfig.currentPage" (change)="paginationApi.setCurrent( $event.target.value )" >
        <option *ngFor="let page of getPages()" [value]="page" [selected]="options.paginationConfig.currentPage === page">{{ page }}</option>
      </select>
    </div>

    <!-- next button -->
    <div class="pagination-next" [class.disabled]="paginationApi.isLastPage()">
      <button  class="btn btn-link" [disabled]="paginationApi.isLastPage()" (click)="paginationApi.next()" tooltip="Következő oldal">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <!-- last page button -->
    <div class="pagination-last" [class.disabled]="paginationApi.isLastPage()">
      <button class="btn btn-link" [disabled]="paginationApi.isLastPage()" (click)="paginationApi.setCurrent( paginationApi.getLastPage() )" tooltip="Utolsó oldal">
        <i class="fas fa-step-forward"></i>
      </button>
    </div>

  </pagination-template>

</div>
<div [id]="options.name + 'loader'" class="loader_base">
  <ng-content></ng-content>
  <div *ngIf="(list && list.length <= 0) || !list" class="empty-table-text">Nincs megjeleníthető adat!</div>
</div>

