<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'delete_modal.title' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <p>{{ 'delete_modal.question' | translate }}</p>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="onDelete()" >{{ 'delete_modal.delete' | translate }}</button>
  <button type="button" class="btn btn-default" (click)="modal.hide()">{{ 'global.button.cancel' | translate }}</button>
</div>
