<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <p>{{ text }}</p>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onConfirm()" >{{ 'global.button.yes' | translate }}</button>
  <button type="button" class="btn btn-default" (click)="modal.hide()">{{ 'global.button.no' | translate }}</button>
</div>
