// Basic colors
$white: #ffffff;
$black: #000;
$red: red;

// Heading colors
$heading-color: #545454;

// Project colors
$primary-color: #0b79fe;
$secondary-color: #3b93fe;
$tertiary-color: #24e024;

$secondary-font-color: #b8d8ff;

$primary-border-color: #0b70ea;

$success-color: green;
$warning-color: yellow;
$error-color: red;

$hover-color: #9cd4ff78;
